<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/feedbutton.css">
</head>
<body>
  <div class="container">
    <div class="courses">
          <p>
        Courses
    </p>
        <p class="input"><input type="checkbox" ><span>BBA</span></p>
        <p class="input"><input type="checkbox" ><span>BCA</span></p>
        <p class="inpu"><input type="checkbox" ><span class="btech">B.Tech</span></p>
        <p class="input"><input type="checkbox" ><span>MCA</span></p>
   
    </div>
    
    <div class="semister">
        <p>Semister</p>
        <div class="seminput">
        <input type="checkbox"> &nbsp;1
         <input type="checkbox"> &nbsp;2
         </div>
         <div class="seminput">
          <input type="checkbox"> &nbsp;3
           <input type="checkbox"> &nbsp;4  
           </div>
             <div class="seminput">       
            <input type="checkbox"> &nbsp;5
             <input type="checkbox"> &nbsp;6
             </div>
              <div class="seminput">
              <input type="checkbox"> &nbsp;7
               <input type="checkbox"> &nbsp;8
               </div>
    </div>
    </div>
    <form method="post" action="/create">
        <button>Click now to Start your Feedback</button>
    </form>
</body>
</html>