<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="/login.css">
</head>
<body>
    
    <form method="post" action="/create">
        <div class="container">
            <div class="box">
        <input placeholder="Enter course" name="course" required id="inputbox"><br><br><br>
          <input placeholder="Enter semister" name="semister" required id="inputbox"><br><br><br>
          
          <!-- <input placeholder="enter valid name" name="name"> -->
          <button>Click now</button>
          </div>
          </div>
    </form>
</body>
</html>