<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="/login.css">
</head>
<body>
    <h2>Welcome To Aligarh College Of Engineering And Technology</h2>
    <form method="post" action="/login">
        <div class="container">
            <div class="box">
        <input placeholder="Enter college id" name="username" required id="inputbox"><br><br><br>
          <input placeholder="Enter password" name="password" required id="inputbox"><br><br><br>
          
          <!-- <input placeholder="enter valid name" name="name"> -->
          <button>Submit</button>
          </div>
          </div>
    </form>
</body>
</html>